body {
  font-family: sans-serif;
  background-color: #d6e7c0;
  color: #496426 !important;
}
body a {
  font-family: sans-serif;
  background-color: #d6e7c0;
  color: #496426 !important;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #496426 !important;
}

form div {
  margin: 1em;
  display: inline-block;
}

.moreinfo {
  /* align-self: flex-end;
  flex: 1; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* NAVBAR START */

.navbar {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  margin: auto;
}

.navbar .heading {
  font-family: chalkduster;
  font-size: 50px;
}

.subtext {
  font-family: Didot;
  font-size: 23px;
  color: #eff7e9;
}
/* NAVBAR END */

/* HOMEPAGE START */
/* .hompage {

} */

.homepage img {
  width: 30%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* #input {
  width: ;
} */

/* HOMEPAGE END */

/* ARTICLE 23A */

.moreinfo img {
  width: 2em;
  height: 3em;
}

/* colors to save:
 #5883a6
 */
