body {
  font-family: Cambria, Cochin;
  background-color: #b9d7c8;
  color: #0f4d2e !important;
}
body a {
  font-family: Cambria, Cochin;
  background-color: #b9d7c8;
  color: #0f4d2e !important;
}

a {
  text-decoration: none;
}

/* label {
  display: block;
} */

nav a {
  display: inline-block;
  margin: 1em;
  color: #0f4d2e;
}

.auth button {
  color: #0f4d2e;
  background-color: #e2ece1;
  font-family: Cambria, Cochin;
  font-size: 15px;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid#0F4D2E;
}

.auth button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.auth input {
  height: 15px;
  width: 140px;
}

.auth a {
  margin: 2em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.moreinfo {
  /* align-self: flex-end;
  flex: 1; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.moreinfo img {
  width: 2em;
  height: 3em;
}

/* NAVBAR START */

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 5px;
}

.navbar .heading {
  font-family: chalkduster;
  font-size: 50px;
}

.subtext {
  font-family: Didot;
  font-size: 23px;
  color: #eff7e9;
}
/* NAVBAR END */

/* HOMEPAGE START */

.homepage {
  border: 3px ridge #0f4d2e;
  background-color: #d3fae2;
  width: 400px;
  height: 280px;
  margin: 50px;
  /* display: flex;
  justify-content: center; */
}
.homepage h1 {
  display: flex;
  justify-content: center;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: 3;
}
/* .homepage bounce {
  0% {
    top: 0px;
  },
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  },
  100% {
    top: 0px;
  }
} */

.homepage img {
  width: 38%;
  height: auto;
  margin: auto;
  display: flex;
}

/* HOMEPAGE END */

/* FAIR CHANCE START */

.fairchance {
  margin: 2em;
  border: 1em double #304979;
  padding: 1em;
  background-color: #e5dcf0;
}

#header {
  background-color: coral;
}

.fairchance h1 {
  font-family: chalkduster;
  color: #173570;
}

.fairchance h2 {
  color: #3e5a91;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.fairchance .topic:hover {
  -webkit-animation: swing 0.7s ease;
  animation: swing 0.7s ease;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

.fairchance h4 {
  color: #1b1c6f;
}

.fairchance li {
  color: #6400c0;
}

.fairchance button {
  display: flex;
  justify-content: center;
  color: #6400c0;
  background-color: #f6f3f9;
  font-size: 19px;
  font-family: chalkduster;
  border-radius: 20%;
  width: 180px;
  height: 60px;
  cursor: pointer;
  border: 2px solid#6400C0;
}

.fairchance button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* FAIR CHANCE END */

/* ARTICLE 23A */
.article23 {
  margin: 1em;
  border: 1em double #752838;
  padding: 1em;
  background-color: #fde7f3;
}

.article23 h1 {
  font-family: chalkduster;
  color: #752838;
}

.article23 h2 {
  color: #9c3f62;
}

.article23 li {
  color: #4b0620;
}

.article23 h4 {
  color: #4b0620;
}

.factors:hover {
  -webkit-animation: swing 0.7s ease;
  animation: swing 0.7s ease;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}

/* .article23 h4:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
} */

.article23 button {
  color: #4b0620;
  background-color: #c39aaa;
  font-size: 19px;
  font-family: chalkduster;
  border-radius: 20%;
  /* width: 180px;
  height: 60px; */
  cursor: pointer;
  border: 2px solid #4b0620;
}

.article23 button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* ARTICLE 23 END */

/* CHECKLIST START */
.checklist {
  margin: 2em;
  border: 1em double #373728;
  padding: 1em;
  background-color: #f8f9b0;
}

.checklist h1 {
  color: #373728;
  font-family: chalkduster;
}

.checklist h3 {
  color: #51513a;
}

.checklist input {
  width: 100%;
  height: 30px;
}

.checklist input:focus {
  background-color: #b9d7c8;
}

.checklist h4 {
  color: #51513a;
}

.checklist button {
  color: #373728;
  background-color: #c8b3ac;
  font-size: 19px;
  font-family: chalkduster;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid #373728;
}

.checklist button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* LETTER START */

.letter {
  margin: 2em;
  border: 1em double #0f4d2e;
  padding: 1em;
  background-color: #e2ece1;
}

.letter h1 {
  font-family: chalkduster;
}

.letter button {
  color: #0f4d2e;
  background-color: #fafdfb;
  font-size: 19px;
  font-family: chalkduster;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid #0f4d2e;
}

.letter button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

/* LETTER END */

/* EMPLOYER START */
.employer {
  margin: 2em;
  border: 1em double #2a6793;
  padding: 1em;
  background-color: #ddfdff;
  color: #2a6793;
}

.employer h1 {
  font-family: chalkduster;
}

.employer button {
  color: #2a6793;
  background-color: #edf7fe;
  font-size: 19px;
  font-family: chalkduster;
  border-radius: 20%;
  cursor: pointer;
  border: 2px solid #2a6793;
}

.employer button:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* EMPLOYER END */

/* NEXT STEPS START */

.nextSteps {
  margin: 2em;
  border: 1em double #525a5e;
  padding: 1em;
  background-color: #edf3f0;
  color: #31393d;
}

.nextSteps h1 {
  font-family: chalkduster;
  color: #31393d;
}

/* NEXT STEPS END */

.userHome {
  margin: 2em;
  border: 1em double #0e301e;
  padding: 1em;
  color: #0e301e;
  background-color: #d7ede1;
  /* display: flex */
}
.userHome h1 {
  font-family: chalkduster;
}

.boxes {
  /* display: flex; */
  justify-content: space-around;
  background-color: #d7ede1 !important;
}

.boxes:hover {
  -webkit-animation: swing 0.7s ease;
  animation: swing 0.7s ease;
  -webkit-animation-iteration-count: 5;
  animation-iteration-count: 5;
}
